<div class="hero">
  <h1 class="heroTitle">Categorías</h1>
  <div #optionsHeader class="optionsHeader">
    <div
      *ngFor="let category of categories"
      class="option"
      [ngClass]="{ selected: selectedOption === category.id }"
      (click)="selectOption(category.id)"
      routerLink="/shop/catalog"
      fragment="gatos"
    >
      {{ category.name }}
    </div>
  </div>
</div>
<div class="searchContainer">
  <label for="searcher" class="searchLabel">
    <input
      type="text"
      id="searcher"
      placeholder="Buscar por categoría"
      class="searchInput"
    />
    <img src="/assets/lupa.png" alt="Buscar" class="searchIcon" />
  </label>
</div>
<div class="productsContainer">
  <ng-container *ngFor="let category of categories">
    <div class="containerCategoryDiv" *ngIf="category.product.length">
      <div class="categoryDiv">{{ category?.name }}</div>
    </div>
    <div
      class="productRow"
      #productRow
      id="comida"
      *ngIf="category.product.length"
    >
      <div
        class="product"
        (click)="redirectToProduct()"
        *ngFor="let product of category.product"
      >
        <img src="/assets/productHome4.png" alt="" />
        <h2>{{ product?.name }}</h2>
        <span>$ 135.000</span>
      </div>
    </div>
  </ng-container>
</div>
