<div class="topButtons">
  <div
    class="buttonClient"
    [ngClass]="{ active: !isNewClient }"
    (click)="client(false)"
  >
    <img src="/assets/newClient.png" alt="" />
    <span><b>Nuevo cliente</b></span>
  </div>
  <div
    class="buttonClient"
    [ngClass]="{ active: isNewClient }"
    (click)="client(true)"
  >
    <img src="/assets/newClient.png" alt="" />
    <span><b>Ya soy cliente</b></span>
  </div>
</div>

<h2 class="title">Información de envío</h2>
<div class="card">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="input" style="margin-top: 20px">
      <p>Nombres cliente</p>
      <input type="text" formControlName="name" placeholder="Ingrese nombres" />
    </div>
    <div class="input">
      <p>Apellidos</p>
      <input
        type="text"
        formControlName="lastName"
        placeholder="Ingrese apellidos"
      />
    </div>
    <div class="input">
      <p>Teléfono Whatsapp</p>
      <input
        type="text"
        formControlName="phone"
        mask="000-000-0000"
        placeholder="000-000-0000"
      />
    </div>
    <hr />
    <div class="input" style="margin-top: 20px">
      <p>Ciudad</p>
      <select formControlName="cityId">
        <option [value]="null">Selecione una ciudad</option>
        <option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}
        </option>
      </select>
    </div>
    <div class="input">
      <p>Dirección envío</p>
      <input
        type="text"
        formControlName="address"
        placeholder="Ingrese su dirección"
      />
    </div>
    <div class="input">
      <p>Apto / int / Torre</p>
      <input type="text" placeholder="Ingrese Apto / int / Torre" />
    </div>
    <div class="input">
      <p>Barrio (Opcional)</p>
      <input
        formControlName="neighborhood"
        type="text"
        placeholder="Ingrese su barrio"
      />
    </div>
  </form>
  <form [formGroup]="orderForm">
    <div class="input-container">
      <p>Programar envío</p>
      <mat-form-field>
        <mat-label>Selecionar fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateScheduled"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>

<form [formGroup]="orderForm">
  <h2 class="title">Información de pago</h2>
  <div class="card" style="margin-bottom: 160px">
    <div class="input" style="margin-top: 20px">
      <p>Estado de pago</p>
      <select formControlName="paymentStateId">
        <option [value]="null">Selecione un método de pago</option>
        <option [value]="status.id" *ngFor="let status of orderStatus">
          {{ status.name }}
        </option>
      </select>
    </div>
    <div class="input">
      <p>Método de pago</p>
      <select formControlName="paymentMethodId">
        <option [value]="null">Selecione un método de pago</option>
        <option
          *ngFor="let metodo of paymentMethods"
          [value]="metodo?.paymentMethod?.id"
        >
          {{ metodo?.paymentMethod?.name }}
        </option>
      </select>
    </div>

    <div class="nequiQr">
      <img src="/assets/nequiQr.png" alt="nequiQr" />
      <span>3167428506</span>
    </div>

    <div class="input">
      <p>Comprobante</p>
      <label for="ticket" class="file"> Subir recibo o factura + </label>
      <input
        #fileInput
        type="file"
        id="ticket"
        (change)="onFileChange($event)"
        placeholder="Subir recibo o factura +"
      />
    </div>

    <div class="ticket">
      <img
        src="/assets/editIcon.svg"
        alt="editIcon"
        class="editIcon cursor-pointer"
        (click)="editImage()"
      />
      <img
        src="/assets/redTrash.svg"
        alt="redTrash"
        class="trashIcon cursor-pointer"
        (click)="deleteImage()"
      />
      <img
        [src]="selectedImageUrl"
        alt="Comprobante seleccionado"
        class="selected-image"
      />
    </div>
  </div>
</form>

<br />
<br />
<br />
