<form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
  <div class="topButtons">
    <div class="buttonClient">
      <img src="/assets/newClient.png" alt="" />
      <span><b>Nuevo cliente</b></span>
    </div>
    <div class="buttonClient">
      <img src="/assets/newClient.png" alt="" />
      <span><b>Ya soy cliente</b></span>
    </div>
  </div>

  <h2 class="title">Información de envío</h2>
  <div class="card">
    <div class="input" style="margin-top: 20px">
      <p>Nombres cliente</p>
      <input
        type="text"
        formControlName="firstName"
        placeholder="***********"
      />
    </div>
    <div class="input">
      <p>Apellidos</p>
      <input type="text" formControlName="lastName" placeholder="***********" />
    </div>
    <div class="input">
      <p>Teléfono Whatsapp</p>
      <input
        type="text"
        formControlName="whatsappPhone"
        placeholder="***********"
      />
    </div>
    <hr />
    <div class="input" style="margin-top: 20px">
      <p>Ciudad</p>
      <select formControlName="city">
        <option value="Bogotá">Bogotá</option>
        <option value="Medellín">Medellín</option>
        <option value="Barranquilla">Barranquilla</option>
      </select>
    </div>
    <div class="input">
      <p>Dirección envío</p>
      <input type="text" formControlName="address" placeholder="***********" />
    </div>
    <div class="input">
      <p>Apto / int / Torre</p>
      <input
        type="text"
        formControlName="apartmentDetails"
        placeholder="***********"
      />
    </div>
    <div class="input">
      <p>Barrio (Opcional)</p>
      <input
        type="text"
        formControlName="neighborhood"
        placeholder="***********"
      />
    </div>
    <div class="input">
      <p>Programar envío</p>
      <input type="date" formControlName="shippingDate" class="date" />
    </div>
  </div>

  <h2 class="title">Información de pago</h2>
  <div class="card" style="margin-bottom: 160px">
    <div class="input" style="margin-top: 20px">
      <p>Estado de pago</p>
      <select formControlName="paymentStatus">
        <option value="Pagar ahora">Pagar ahora</option>
        <option value="Contra entrega">Contra entrega</option>
        <option value="Bono">Bono</option>
      </select>
    </div>
    <div class="input">
      <p>Método de pago</p>
      <select formControlName="paymentMethod">
        <option value="Nequi">Transferencia Nequi</option>
        <option value="Bancolombia">Transferencia Bancolombia</option>
        <option value="Efectivo">Efectivo</option>
        <option value="PSE">PSE</option>
      </select>
    </div>

    <div class="nequiQr">
      <img src="/assets/nequiQr.png" alt="" />
      <span>3167428506</span>
    </div>

    <div class="input">
      <p>Comprobante</p>
      <label for="ticket" class="file"> Subir recibo o factura + </label>
      <input
        type="file"
        id="ticket"
        (change)="onFileChange($event)"
        placeholder="Subir recibo o factura +"
      />
    </div>

    <div class="ticket">
      <img src="/assets/editIcon.svg" alt="" class="editIcon" />
      <img src="/assets/redTrash.svg" alt="" class="trashIcon" />
      <img src="/assets/photoBackground.svg" alt="" />
    </div>
  </div>

  <button type="submit" [disabled]="shippingForm.invalid">
    Enviar Información
  </button>
</form>
