<div
  [class.visible]="isVisible"
  class="asideContainer"
  (click)="toggleSidebar()"
>
  <aside
    [class.visible]="isVisible"
    class="sidebar"
    (click)="$event.stopPropagation()"
  >
    <div class="profile">
      <img
        [src]="
          shop?.urlProfilePhoto ? shop?.urlProfilePhoto : '/assets/logo.png'
        "
        alt="Profile Image"
        class="profile-img"
      />
      <div class="profile-info">
        <h2>{{ shop?.name }}</h2>
        <p>
          <img src="/assets/locationFooter.png" alt="locationFooter" /><i
            class="fas fa-map-marker-alt"
          ></i>
          {{ shop?.address }}
        </p>
        <p class="fa-whatsapp">
          <img src="/assets/whatsappVerde.svg" alt="whatsappVerde" /><i
            class="fab"
          ></i>
          {{ shop?.phone }}
        </p>
      </div>
    </div>
    <nav class="menu">
      <div class="itemNav first" (click)="redirectToCart()">
        <div>
          <img src="/assets/cartIconBlack.png" alt="carrito" />
          <div class="counterSideBar">10</div>
        </div>
        Carrito
      </div>
      <hr style="margin-top: -2px" />
      <div class="itemNav" (click)="redirectToCatalog()">
        <img src="/assets/book.png" alt="book" />
        Catalogo
      </div>
      <hr />
      <div class="itemNav" (click)="redirectToHome()">
        <img src="/assets/house.png" alt="house" />
        Inicio
      </div>
      <hr />
    </nav>
    <div class="footer">
      <div class="footerFirst">
        <p>
          <img src="/assets/phoneBlack.png" alt="phone" /> {{ shop?.phone }}
        </p>
        <p>
          <img src="/assets/webPageIcon.png" alt="web" />
          <b>{{ shop?.phone }}</b>
        </p>
      </div>
      <div class="footerSecond">
        <p>Tu catalogo en minutos con <a href="#">NIIIO</a></p>
      </div>
    </div>
  </aside>
</div>
