.footer{
    width: 100%;
    height: max-content;
    background-color: #010913;
    color: white;
}

.firstDivision{
    width: 100%;
    margin-top: 8px;
    padding: 5% 3% 15px 3%;
}

.secondDivision{
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}

.firstSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.socialNetworks{
    display: flex;
    column-gap: 8px;
}

.subTitle{
    font-weight: bold;
}

.containerContactInfo{
    margin-top: 8px;
}

.contactInfo a{
    color: white;
    text-decoration: none;
    margin-left: 6px;
}

.whatsAppInfo a{
    color: #03D370 !important;
}

hr{
    margin-top: 10px;
    margin-bottom: 2px;
}

.secondDivision a{
    color: #00C4EF;
    text-decoration: none;
}

/* @media (min-width: 500px) {
    .footer{
        padding: 5% 8%;
    }
} */