<div class="hero">
    <h1 class="heroTitle">Cafe Artesanal Reventones</h1>
    <p>Desde reventones en municipio</p>
</div>
<div class="productGrid">
    <div class="product">
        <img src="/assets/productHome1.png" alt="">
    </div>
    <div class="product">
        <img src="/assets/productHome2.png" alt="">
    </div>
    <div class="product">
        <img src="/assets/productHome3.png" alt="">
    </div>
    <div class="product">
        <img src="/assets/productHome2.png" alt="">
    </div>
    <div class="product">
        <img src="/assets/productHome1.png" alt="">
    </div>
    <div class="product">
        <img src="/assets/productHome3.png" alt="">
    </div>
    <div class="catalogButton" (click)="redirectToCatalog()">
        <span>Ver catalogo</span>
    </div>
</div>
<div class="cardsContainer">
    <h2>Productos disponibles</h2>
    <div class="categories">
        <div class="category">
            Comida
        </div>
        <div class="category">
            Arena
        </div>
        <div class="category">
            Gomitas
        </div>
        <div class="category">
            Pañitos
        </div>
    </div>
</div>
<div class="cardsContainer">
    <h2>Métodos de pago</h2>
    <div class="categories">
        <div class="category">
            <img src="/assets/nequi.png" alt="Nequi">
        </div>
        <div class="category">
            <img src="/assets/daviplata.png" alt="Daviplata">
        </div>
        <div class="category">
            <img src="/assets/bancolombia.png" alt="bancolombia">
        </div>
        <div class="category">
            <img src="/assets/pse.png" alt="PSE">
        </div>
        <div class="category">
            <img src="/assets/datafono.png" alt="Datafono">
            Datafono
        </div>
        <div class="category">
            <img src="/assets/efectivo.png" alt="Efectivo">
            Efectivo
        </div>
    </div>
</div>
<div class="cardsContainer" style="margin-bottom: 20px;">
    <h2>Entregas</h2>
    <div class="categories">
        <div class="category">
            <img src="/assets/tienda.png" alt="En tienda">
            En tienda
        </div>
        <div class="category">
            <img src="/assets/motoDomicilio.png" alt="Domicilio">
            Domicilio
        </div>
    </div>
</div>