<div class="hero">
  <h1 class="heroTitle">{{ shop?.coverPhrase }}</h1>
  <p>{{ shop?.typeCommerce?.name }}</p>
</div>
<div class="productGrid">
  <div class="product" *ngFor="let photo of shop?.catalogPhotos">
    <img [src]="photo?.uri" [alt]="photo?.id" />
  </div>
  <div class="catalogButton" (click)="redirectToCatalog()">
    <span>Ver catalogo</span>
  </div>
</div>
<div class="cardsContainer">
  <h2>Productos disponibles</h2>
  <div class="categories">
    <div class="category" *ngFor="let category of shop?.category">
      {{ category?.name }}
    </div>
  </div>
</div>
<div class="cardsContainer">
  <h2>Métodos de pago</h2>
  <div class="categories">
    <div class="category" *ngFor="let payment of shop?.paymentMethodToStore">
      <img [src]="getIconTypePayment(payment?.paymentMethod?.name)" />
      {{ payment?.paymentMethod?.name }}
    </div>
  </div>
</div>
<div class="cardsContainer" style="margin-bottom: 20px">
  <h2>Entregas</h2>
  <div class="categories">
    <div class="category" *ngFor="let methods of deliveryMethods">
      <img [src]="getIconDeliveryMethods(methods?.title)" />
      {{ methods?.title }}
    </div>
  </div>
</div>
