<div class="shortResume">
  <span>
    {{ selectProducts.length }} Productos agregados
    <b>{{ totalShop | currency : "COP" : "symbol-narrow" : "1.0-0" }}</b>
  </span>
  <div class="deleteAll" (click)="deleteProduct(null)">
    <img src="/assets/trash.png" alt="trash" />
    Todo
  </div>
</div>
<div class="products">
  <div class="product" *ngFor="let product of selectProducts">
    <div class="titleAndImage">
      <div class="d-flex gap-2">
        <img
          class="imageProduct"
          [src]="product?.files?.length ? product.files[0].uri : null"
          alt="img-product"
        />
        <div class="productInfo">
          <h3>{{ product?.name }}</h3>
          <p>{{ product?.unit?.name }}</p>
        </div>
      </div>
      <img
        (click)="deleteProduct(product?.id)"
        class="c-pointer"
        src="/assets/trash.png"
        alt="trash"
      />
    </div>
    <div class="priceAndUnits">
      <div class="d-flex gap-2">
        <div class="ghost-element"></div>
        <span>{{
          product?.total | currency : "COP" : "symbol-narrow" : "1.0-0"
        }}</span>
      </div>
      <div class="quantityProduct">
        <div class="minus c-pointer" (click)="decrementQuantity(product?.id)">
          <img src="/assets/moreBlack.svg" alt="moreBlack" />
        </div>
        <div class="counter">
          <span class="quantity"
            ><b>{{ product?.quantity }}</b></span
          >
          <span class="units">Unidades</span>
        </div>
        <div class="plus c-pointer" (click)="incrementQuantity(product?.id)">
          <img src="/assets/plusGreenIcon.svg" alt="plusGreenIcon" />
        </div>
      </div>
    </div>
    <div class="descriptionContainer">
      <div class="description">
        <img
          src="/assets/arrowDown.png"
          alt="Toggle"
          [ngClass]="{ descriptionOpen: product.isOpen }"
          (click)="toggleDescription(product?.id)"
          [src]="
            product.isOpen ? '/assets/arrowUp.png' : '/assets/arrowDown.png'
          "
        />
      </div>
      <div class="descriptionContent" [ngClass]="{ open: product.isOpen }">
        <!--    <div class="tags">
          <div class="tag">Talla 38</div>
          <div class="tag">Rojo</div>
        </div> -->
        <p>
          {{ product?.description }}
        </p>
      </div>
    </div>
  </div>
</div>
