.shortResume{
    width: 85%;
    margin: auto;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.deleteAll{
    color: #FF3465;
}

.products{
    margin-bottom: 130px;
}

.product{
    background-color: white;
    width: 80%;
    height: max-content;
    margin-bottom: 20px;
    border-radius: 14px;
}

.titleAndImage{
    width: 98%;
    margin: auto;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleAndImage img{
    width: 22px;
    height: 22px;
    margin-bottom: 12px;
}

.imageProduct{
    border: 1px solid #E1E1E1;
    background-color: white;
    border-radius: 50%;
    padding: 1%;
    margin-bottom: 0px !important;
    width: 37px !important;
    height: 37px !important;
    object-fit: contain;
}

.productInfo{
    margin-right: 10px;
}

.productInfo h3{
    font-size: 16px;
    margin-bottom: 0px;
}

.productInfo p{
    font-size: 13px;
    margin-bottom: 0px;
}


.quantityProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 28px;
    height: 50px;
    color: #010913;
    column-gap: 6px;
    background-color: #F4F4F4;
}

.minus{
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.quantity{
    font-weight: bolder;
}

.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.units{
    margin-top: -7px;
}

.descriptionContainer{
    width: 95%;
    margin: auto;
}

.description {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.description h2 {
    margin: 0;
}

.description img {
    width: 23px;
    height: 21px;
    cursor: pointer;
    transition: transform 0.3s;
}

.descriptionContent {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
}

.descriptionContent p{
    color: #858585;
    font-size: 14px;
}

.descriptionContent.open {
    display: block;
    max-height: max-content;
}

.descriptionOpen{
    width: 18px !important;
    height: 12px !important;
}

.tags{
    width: 95%;
    display: flex;
    column-gap: 5px;
    row-gap: 8px;
    margin-bottom: 10px;
}

.tag{
    border: 1px solid #DEDEDE;
    border-radius: 18px;
    padding: 8px 18px;
}