<div class="productTitle">
  <h2>{{ product?.name }}</h2>
  <p>{{ product?.category?.name }}</p>
</div>
<div class="carousel-container-wrapper">
  <div #carousel class="carousel">
    <div class="carousel-container" *ngFor="let image of product?.files">
      <img [src]="image?.uri" [alt]="image?.name" />
    </div>
  </div>
  <div class="carousel-dots">
    <span
      *ngFor="let dot of dots; let i = index"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    ></span>
  </div>
</div>
<div class="descriptionContainer">
  <div class="description">
    <h2>{{ product?.name }}</h2>
    <img
      src="/assets/arrowDown.png"
      alt="Toggle"
      [ngClass]="{ descriptionOpen: isOpen }"
      (click)="toggleDescription()"
      [src]="isOpen ? '/assets/arrowUp.png' : '/assets/arrowDown.png'"
    />
  </div>
  <div class="descriptionContent" [ngClass]="{ open: isOpen }">
    <p>
      {{ product?.description }}
    </p>
  </div>
</div>
<div
  class="optionsContainer"
  *ngFor="let variant of product?.variants?.variantActive?.[0]?.variation || []"
>
  <h2>{{ variant?.name }}</h2>
  <div
    class="option"
    [ngClass]="{ selected: isSelected(variant) }"
    (click)="toggleOption(variant)"
  >
    {{ variant?.variant?.name }}
  </div>
</div>
