.productTitle {
  width: 100%;
  margin-top: 95px;
  background-color: white;
  padding-left: 35px;
}

.productTitle h2 {
  margin-bottom: 2px;
  padding-top: 8px;
}

.productTitle p {
  padding-bottom: 8px;
}

h2 {
  font-size: 17px;
  font-weight: bold;
}

p {
  color: #494949;
}

.carousel-container-wrapper {
  position: relative; /* Necesario para posicionar los puntos de manera relativa al contenedor */
  width: 95%;
  margin: auto;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  display: flex;
  gap: 10px;
  scrollbar-width: none;
}

.carousel-container {
  border-radius: 12px;
  width: 300px;
  height: 240px;
  display: flex;
  align-items: center;
  background-color: white;
  flex-shrink: 0;
}

.carousel-container:last-child {
  margin-right: 30px;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-dots {
  text-align: center;
  position: relative; /* Cambiado de absolute a relative */
  bottom: 0; /* Asegúrate de que esté en la parte inferior del contenedor */
  width: 100%;
  padding-top: 10px; /* Espacio entre el carrusel y los puntos */
}

.carousel-dots span {
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dots span.active {
  background-color: #717171;
}

.descriptionContainer {
  width: 95%;
  margin: auto;
  margin-top: -18px;
}

.description {
  width: 100%;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 4px 6px rgb(196, 196, 196);
}

.description h2 {
  margin: 0;
}

.description img {
  width: 23px;
  height: 21px;
  cursor: pointer;
  transition: transform 0.3s;
}

.descriptionContent {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
  width: 100%;
  margin: auto;
  margin-top: -6px;
  background-color: white;
  padding: 0 15px;
}

.descriptionContent.open {
  max-height: 500px;
  padding: 15px;
}

.descriptionContent p {
  color: #494949;
  font-size: 15px;
}

.optionsContainer {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 6px;
  border-radius: 8px;
}

.optionsContainer h2 {
  width: 100%;
}

.option {
  width: 30%;
  height: 35px;
  border: 2px solid #dbdbdb;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.option.selected {
  background-color: #141d2c;
  color: white;
}

.descriptionOpen {
  width: 18px !important;
  height: 12px !important;
}

@media (min-width: 500px) {
  .carousel-container-wrapper {
    max-width: 500px;
  }

  .descriptionContainer {
    max-width: 500px;
  }

  .description {
    max-width: 500px;
  }

  .optionsContainer {
    max-width: 500px;
  }
}
